@import url('https://fonts.googleapis.com/css?family=Boogaloo|Gochi+Hand|Kalam');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #2596BE;
    text-decoration: none;
    padding: 35px;
}
main {
    text-align:center
}
header {
    background-color: #d5ca92;
    font-family: boogaloo;
    font-size: 50px;
}
nav a:hover {
    background-color:#2596BE;
    color:whitesmoke;
}
footer {
    background-color: #2596BE;
    color: whitesmoke;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}
footer a {
    color:whitesmoke;
    text-decoration: none;
}
footer a:hover {
    color:#c48a97;
}
.logo {
    width: 100px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
#logo_link {
    padding-top: 10px;
    justify-self: center;
    align-self: center;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
p {
    font-family: gochi hand;
    font-size: 40px;
}
.social {
    display: flex;
}
.social img {
    width: 450px;
    height: 200px;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 50px;
    font-family: gochi hand;
    color: #2596BE;
  }
  .popup .popuptext {
    visibility: hidden;
    width: 500px;
    background-color:#C48A97;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -250px;
    font-family: gochi hand;
    font-size: 30px;
  }
/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }