@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Zen+Kaku+Gothic+New:wght@500&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color:whitesmoke;
    font-family: 'zen kaku gothic new', helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #035E7B;
    font-family: 'zen kaku gothic new', helvetica, sans-serif;
}
nav a:hover {
    background-color: #5EB1BF ;
    color: whitesmoke;
}
.book, .join {
    background-color: #F0E15B;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #5EB1BF ;
    color: black;
}
#background {
    background-color: #5EB1BF;
    margin-bottom: 60px;
}
.msg {
    background-color:whitesmoke;
    line-height: 1.5em;
    padding: 35px;
    }
footer {
   background-color:#90BE6D;
   color: whitesmoke; 
   padding: 25px 50px;
   margin-top: 200px;
}
.home-title {
    color: #90BE6D;
    font-family: 'kalam', Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color:#90BE6D ;
}
msg h2 {
    color: #90BE6D;
    font-family: 'kalam', Arial, sans-serif;
}
.msg p {
    color:#035E7B;
    background-color:#90BE6D;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: #035E7B;
    text-decoration: none;
}
footer a:hover {
    color: whitesmoke;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0;
    font-family:'kalam', Arial, sans-serif;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #5EB1BF
}
main section img {
    box-sizing: border-box;
}