nav {
    text-align: center;
    background-color: steelblue;
    padding: 10px;
}
a {
    font-size: 1.5em;
    color: white;
    margin: 40px;
}
h1 {
    text-align: center;
    color: steelblue;
}
img {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 10px; 
}
p {
    width: 80%;
    padding: 10px; 
    font-size: 20px;
    margin: 20px auto;   
}
footer {
    text-align: center;
    background-color: steelblue;
    color: white;
}
.main-para {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
}
#active {
    background-color: white;
    color: steelblue;
}
nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}
a:hover {
    background-color:white;
    color: steelblue;
}